.header{
	padding-top:10px;
}
.layui-inline{float:left;}
.layui-form-item{width:220px !important;float:right;margin-right:210px;margin-top:-50px;}
.layui-form-label{width:90px !important;padding:7px 5px !important;}
.layui-input-inline{width:135px;margin-bottom:20px;}
.layui-input-inline input{height:32px !important;}
.layui-select-title input{height:32px !important;}
.layui-input-block{margin-left:100px !important;}
.anniu{float:left;margin-left:20px;}
.anniu button{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    width:85px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right:10px;
}
.newadd{
	background:#46CE4E;
	opacity: 0.7;
}
.newadd:hover{
	opacity: 1;
}
.queren{
	background:#6866E9;
	opacity: 0.7;
}
.queren:hover{
	opacity: 1;
}
.restqueren{
	background:#6866E9;
	opacity: 0.7;
}
.restqueren:hover{
	opacity: 1;
}
.print{
	background:#6866E9;
	opacity: 0.7;
}
.print:hover{
	opacity: 1;
}
.chaxun{
	background:#6866E9;
	opacity: 0.7;
}
.chaxun:hover{
	opacity: 1;
}
.layui-form-checkbox {
	height: 15px !important;
    line-height: 15px !important;
    padding-right: 15px !important;
}
.layui-form-checkbox i{width:24px !important;}
.foot{clear:both;margin-top:40px;}
